<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Bookstore</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>FirstTest</servlet-name>
    <servlet-class>com.bookstore.FirstTest</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DbTest</servlet-name>
    <servlet-class>com.bookstore.db.DbTest</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SignUp</servlet-name>
    <servlet-class>com.bookstore.db.UserSignUp</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserLogin</servlet-name>
    <servlet-class>com.bookstore.UserLogin</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddBook</servlet-name>
    <servlet-class>com.bookstore.AddBook</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Search</servlet-name>
    <servlet-class>com.bookstore.Search</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CartUpdate</servlet-name>
    <servlet-class>com.bookstore.CartUpdate</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserDelete</servlet-name>
  	<servlet-class>com.bookstore.UserDelete</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserLookup</servlet-name>
    <servlet-class>com.bookstore.UserLookup</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SubmitOrder</servlet-name>
    <servlet-class>com.bookstore.SubmitOrder</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SubmitReview</servlet-name>
    <servlet-class>com.bookstore.SubmitReview</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BookLookup</servlet-name>
    <servlet-class>com.bookstore.BookLookup</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateUser</servlet-name>
    <servlet-class>com.bookstore.UpdateUser</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GenerateReports</servlet-name>
    <servlet-class>com.bookstore.GenerateReports</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FirstTest</servlet-name>
    <url-pattern>/FirstTest</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DbTest</servlet-name>
    <url-pattern>/DbTest</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SignUp</servlet-name>
    <url-pattern>/SignUp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserLogin</servlet-name>
    <url-pattern>/UserLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserLookup</servlet-name>
    <url-pattern>/UserLookup</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserDelete</servlet-name>
  	<url-pattern>/UserDelete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddBook</servlet-name>
    <url-pattern>/AddBook</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Search</servlet-name>
    <url-pattern>/Search</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CartUpdate</servlet-name>
    <url-pattern>/cartUpdate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SubmitOrder</servlet-name>
    <url-pattern>/submitOrder</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SubmitReview</servlet-name>
    <url-pattern>/submitReview</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BookLookup</servlet-name>
    <url-pattern>/BookLookup</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateUser</servlet-name>
    <url-pattern>/updateUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GenerateReports</servlet-name>
    <url-pattern>/generateReports</url-pattern>
  </servlet-mapping>
  <context-param>
    <description>Location to store uploaded cover images</description>
    <param-name>file-upload</param-name>
    <param-value>
		/Users/timgalvin/GoogleDrive/Development/workspace/css490project/WebContent/book_images/
	</param-value>
  </context-param>
</web-app>